

header {
    width:100%;
    background-color:darkcyan;
    height: 70px;
    position:absolute;
    border-bottom:10px solid lightgoldenrodyellow;
}
ul {
    text-align:end;
    color:bisque;
}
li {
    display:inline;
    list-style-type:none;
    padding:16px;
    font-size:20px;
    position:relative;
    top: 30px;
}


main{
    width:100%;
    height:500px;
    background-color: darkslategray;
    padding:40px;


}
/* My new website */
h1 {
    color:azure;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}
#slogan{
    position:fixed;
    left:40.5%;
    top:10%;
}

/* demo boxes */

#demoboxA{
      background-color: rgb(54, 101, 62);
      padding: 90px;
      border:90px solid rgb(99, 137, 104);
      position:fixed;
      left:36%;
      top:20%

}
#demoboxB{
    background-color: rgb(48, 12, 12);
    padding: 85px;
    border:85px solid rgb(140, 236, 174);
    position:fixed;
    left: 36.75%;
    top:21.25%;

}
#demoboxC{
    background-color: rgb(48, 12, 12);
    padding: 80px;
    border:80px solid rgb(99, 137, 104);
    position:fixed;
    left: 37.45%;
    top:22.5%;

}

#demoboxD{
    background-color: rgb(48, 12, 12);
    padding: 70px;
    border:70px solid rgb(226, 237, 126);
    position:fixed;
    left: 39%;
    top:25%;

}

#demoboxE{
    background-color: rgb(48, 12, 12);
    padding: 67px;
    border:67px solid rgb(99, 137, 104);
    position:fixed;
    left: 39.4%;
    top:25.75%;

}

#demoboxF{
    background-color:rgb(99, 137, 104);
    padding: 115px;
    border:5px solid rgb(102, 227, 146);
    position:fixed;
    left: 40.2%;
    top:27.5%;

}
#textboxA {
    position:fixed;
    left:42%;
    top:35%
    
}

#textboxB {
    position:fixed;
    left:50%;
    top:38.5%;
    
}

p{
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    display:block;
    
}

.des{
    position:fixed;
    left:43%;
    top:67.5%;
    color:aliceblue;
    font-family: Helvetica, sans-serif;
}

footer {
    width:100%;
    background-color:lightgoldenrodyellow;
    height: 170px;
    position:absolute;
    border-bottom:50px solid darkcyan;
}

h2 {
    color:gray;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
}
.title{
    position:fixed;
    left:43%;
    top:70.5%;
}

.contactInfo{
    background-color:lightgoldenrodyellow ;
    border-top:2px solid rgb(192, 192, 137);

}
#demoboxG{
    background-color:lightgoldenrodyellow ;
    border:2px solid rgb(192, 192, 137);
    padding:55px 170px;
    position:fixed;
    left:35%;
    top:78%;

}

#name{
    position:fixed;
    left:40.1%;
    top:79%;
}

#email{
    position:fixed;
    left:40.1%;
    top:82%;
}
button{
    position:fixed;
    left:47%;
    top:87%;
    color:rgb(99, 137, 104);
}
#bottomText{
    position:fixed;
    left:40%;
    top:95%;
    font-family: Helvetica, sans-serif;
    font-size:15px;
    color:aliceblue;
}



    